{% extends "helpdesk/base.html" %}{% load i18n %}
{% block helpdesk_title %}{% trans "Helpdesk Dashboard" %}{% endblock %}

{% block helpdesk_body %}

<div class="row">
    <div class="col-lg-8">
    {% include 'helpdesk/include/stats.html' %}
    </div>
    <div class="col-lg-4">
        <div class="alert alert-warning">
            <p>{% trans "Bem vindo ao Painel de Controle do Helpdesk! Daqui, você poderá facilmente ver os Chamados submetidos por você, Chamados em que você está trabalhando e Chamados sem dono." %}</p>
        </div>
    </div>
</div>

{% if all_tickets_reported_by_current_user %}
{% trans "Chamados Abertos atribuído a você" as ticket_list_caption %}
{% include 'helpdesk/include/tickets.html' with ticket_list=all_tickets_reported_by_current_user ticket_list_empty_message="" %}
{% endif %}

{% trans "Chamados Abertos atribuído a você (você está trabalhando neste chamado)" as ticket_list_caption %}
{% trans "Você não possui nenhum chamado atribuído para você." as no_assigned_tickets %}
{% include 'helpdesk/include/tickets.html' with ticket_list=user_tickets ticket_list_empty_message=no_assigned_tickets %}

{% include 'helpdesk/include/unassigned.html' %}

{% if user_tickets_closed_resolved %}
{% trans "Chamados Fechados & Resolvidos por você" as ticket_list_caption %}
{% include 'helpdesk/include/tickets.html' with ticket_list=user_tickets_closed_resolved ticket_list_empty_message="" %}
{% endif %}

{% endblock %}
