{% extends "helpdesk/base.html" %}{% load i18n %}

{% block helpdesk_title %}{% trans "Excluir Chamado" %}{% endblock %}

{% block helpdesk_body %}
<h2>{% trans "Excluir Chamado" %}</h2>

<p>{% blocktrans with ticket.title as ticket_title %}Você tem certeza que deseja excluir o chamado (<em>{{ ticket_title }}</em>)? {% endblocktrans %}</p>

<p><a href='../'><button class="btn btn-primary btn-lg">{% trans "Não" %}</button></a></p>

<form method='post' action='./'>
    <button class="btn btn-danger" type='submit'>{% trans "Sim, pode excluir este chamado" %}</button>
{% csrf_token %}</form>
{% endblock %}
